#simple.header-bg.area {
    background-image: url("../img/headers/areas-bg1.jpg");
}

#area {
    .titulo {
        font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        margin-top: 30px;
        margin-bottom: 90px;
        font-size: 12.5px;
        line-height: 23.5px;
        color: $colorTexto;
        margin-bottom: 60px;
        @media (min-width: $screen-sm-min) {
            margin-top: 75px;
            margin-bottom: 75px;
            font-size: 15px;
            line-height: 27.5px;
        }
        @media (min-width: $screen-md-min) {
            margin-top: 120px;
        }
        img {
         
             @media (min-width: $screen-sm-min) {
            float: left;
        }
            margin-right: 10px;
            height: 65px;
        }
        h1 {
             @media (min-width: $screen-sm-min) {
            padding-top: 15px;
        }
            color: $amarillo;
            font-weight: 800;
            a {
                font-size: 15px;
                padding-top: 15px;
                color: #3a3737;
                font-family: "Open Sans", Arial, Helvetica, sans-serif;
                font-weight: 400;
            }
        }
    }
    .area {
        .box {
            padding: 30px;
            border-radius: 5px;
            margin: 20px 0;
            .col {
                padding: 0;
            }
            &.color-0 {
                background-color: $amarillo
            }
            &.color-1 {
                background-color: $azul
            }
            &.color-2 {
                background-color: $verde
            }
            h3 {
                color: #FFF;
                margin-top: 0;
                font-weight: 600;
                font-size: 32px;
            }
            .compartir-box p{
                color:#FFF;
            }
            .compartir-box img{
                height:30px;
                margin: 0 5px;
                opacity: 0.7;
                &:hover{
                    opacity:1;
                }
            }
            a.btn-pill {
                border: 2px solid #FFF;
                border-radius: 200px;
                color: #FFF;
                font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
                padding: 8px 30px;
                font-weight: 700;
                font-size: 20px;
                line-height: 20px;
                display: inline-block;
                &.importante {
                line-height: 0;
                    margin-top: 18px;
                    font-family: "Open Sans", Arial, Helvetica, sans-serif;
                    font-weight: 400;
                    padding: 12px;
                    font-size: 14px;
                    span.bold {
                        font-weight: 600;
                    }
                }
                    img{
                        height:20px;
                        margin-left: 35px;
                    }
                i.fa {
                    margin-left: 36px;
                }
                &:hover {
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
        hr{
            border-width: 2px;
            &.color-0 {
                border-color: $amarillo;
            }
            &.color-1 {
                border-color: $azul;
            }
            &.color-2 {
                border-color: $verde;
            }
        }
    }
    .comentario-container{
        img.img-circle{
            width: 50px;
            &.respuesta{
                width: 30px
            }
        }
        .media-body{
            padding-left: 15px;
            //padding-top: 10px;
            font-size: 13px;
            font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            .comment-cuerpo{
                font-family:"Open Sans", Arial, Helvetica, sans-serif;
                font-size:12px;
                line-height: 20px;
                strong{
                    font-size:15px;
                }
                textarea{
                    font-size: 12px;
line-height: 20px;
                font-family:"Open Sans", Arial, Helvetica, sans-serif;

                }
            }
            .verde{
                color: green;
            }
            .rojo{
                color: red;
            }
            a.color-0 {
                color: $amarillo;
            }
            a.color-1 {
                color: $azul;
            }
            a.color-2 {
                color: $verde;
            }
        }
         .btn.btn-submit{
            border-radius: 2px;
border: 0;
background-color: #379dc9;
padding: 6px 20px;
color: #FFF;
font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
font-weight: 400;
font-size: 13px;
        &:hover {
            background-color: darken($azul, 10%);
        }
        }
    }
    .no-login{
            padding: 20px;
    text-align: center;
    border: 1px solid #a2a2a2;
    border-radius: 3px;
        margin: 15px 0;
            &.color-0 {
                border-color: $amarillo;
            }
            &.color-1 {
                border-color: $azul;
            }
            &.color-2 {
                border-color: $verde;
            }
    }
    a.ver-mas{
        color:#FFF;
        text-align: center;
        &:hover{
            text-decoration: none;
        }
        .ver-mas-container{
        border-radius:3px;
            padding: 15px; 
            &.color-0 {
                background-color: $amarillo;
                &:hover{
                    opacity: 0.7
                } 
            }
            &.color-1 {
                background-color: $azul;
                &:hover{
                    opacity: 0.7
                } 
            }
            &.color-2 {
                background-color: $verde;
                &:hover{
                    opacity: 0.7
                } 
            }
        }
    }
    .form-control {
        font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 14px;
        font-weight: 500;
        border-color: #bfbfbf;
        color: #3a3737;
        border-radius: 2px;
    }
    .form-control:focus {
        border-color: #3a3737;
        color: #3a3737;
        box-shadow: none;
    }
    .grid-sizer,
.grid-item {
        margin: 15px 1%;
         hr{
            margin-bottom: 0;
        }
    @media (max-width: $screen-xs-max) {
        width: 100%;
    }
    @media (min-width: $screen-sm-min) {
        width: 48%;
    }
    @media (min-width: $screen-md-min) {
        //width: 23%;
        width: 48%;
        
    }
    //&.w2 {
    //    @media (min-width: $screen-md-min) {
    //        width: 75%;
    //    }
    //}
}
}