#simple.header-bg.areas {
    background-image: url("../img/headers/areas-bg1.jpg");
}

#areas {
    p.introduccion {
        font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        margin-top: 100px;
        margin-bottom: 90px;
        font-size: 12.5px;
        line-height: 23.5px;
        text-align: justify;
        color: $colorTexto;
        margin-bottom: 25px;
        @media (min-width: $screen-sm-min) {
            margin-top: 120px;
            margin-bottom: 75px;
            font-size: 15px;
            line-height: 27.5px;
        }
    }
    .area{
    h1 {
        font-size: 26px;
        @media (min-width: $screen-sm-min) {
            font-size: 30px;
        }
        color: #edb001;
        margin-bottom: 0;
        &.black {
            font-weight: 800;
        }
        &.bold {
            font-weight: 600;
        }
    }

    }
}