.btn.btn-pill{
    font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    padding: 8.5px 40px;
    &.btn-amarillo{
    border: 3px solid $amarillo;
    color: $amarillo;
    &:hover{
        color:#FFF;
        background-color: $amarillo;
    }
    }
}

.text-amarillo{
    color: $amarillo;
}
.text-verde{
    color: $verde;
}
.text-azul{
    color: $azul;
}

.form{
        label{font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;}
        .btn.btn-submit{
             border-radius: 2px;
        border: 0;
        background-color: $azul;
        padding: 15px 10px;
        color: #FFF;
        font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-weight: 400;
        font-size: 15px;
        &:hover {
            background-color: darken($azul, 10%);
        }
        }
        .twitter-typeahead{
            height: 100%;
            width: 100%;
        }
}