.form.derecho {
    margin-top: 80px;
    @media (min-width: $screen-sm-min) {
        margin-top: 120px;
    }
    .form-control {
        font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        //font-size: 15px;
        font-weight: 500;
        //height: 40px;
        border-color: #bfbfbf;
        border-radius: 2px;
    }
    .form-control:focus {
        border-color: #3a3737;
        box-shadow: none;
    }
    .accion-container {
        background-color: #f7bd0f;
        padding: 10px;
        margin-bottom:20px;
        textarea {
            background-color: transparent;
            color: #FFF;
            font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
            font-size: 24px;
            font-weight: 700;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            resize: none;
            margin-bottom: 0;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
&::-moz-placeholder { /* Firefox 19+ */
  color: 000;
}
&:-ms-input-placeholder { /* IE 10+ */
  color: 000;
}
&:-moz-placeholder { /* Firefox 18- */
  color: 000;
}
        }
    }
}