header {
    .barra-header {
        background-image: url("../img/line-stafe-header.png");
        background-attachment: fixed;
        height: 2.5px;
        background-repeat: repeat-x;
        background-position: top top;
    }
    .navbar {
        position: absolute;
        width: 100%;
    }
    @media (max-width: $screen-xs-max) {
        .navbar-collapse {
            height: 100vh;
            background: linear-gradient(to top, #6eb995 2%, #55a3d6 98%);
            margin-top: -73px;
            width: 100%;
            position: absolute;
            border: 0;
            z-index: 5;
        }
    }
    .navbar-default {
        background: none;
        border: none;
        .navbar-collapse {
            overflow: auto;
        }
        .navbar-toggle {
            @media (max-width: $screen-xs-max) {
                z-index: 10;
                border: 0;
                background-color: #FFF;
                border-radius: 200px;
                color: #55a3d6;
                margin-top: 25px;
                &:hover {
                    background-color: #FFF;
                }
            }
        }
        @media (max-width: $screen-xs-max) {
            .navbar-nav {
                margin: 30vh 0 0;
                height: 70vh;
                >li {
                    display: block;
                    border-top: 1px solid #FFF;
                    font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
                    font-size: 15px;
                    font-weight: 600;
                }
                >li:last-child a {
                    padding: 30.5px 0px;
                    font-family: "Open Sans", Arial, Helvetica, sans-serif;
                    color: #FFF;
                    font-size: 14px;
                    font-weight: 700;
                    img.icono-login {
                        height: 14px;
                        margin-left: 5px;
                        vertical-align: top;
                        margin-top: 4px;
                    }
                    img.img-avatar {
                        height: 32;
                        margin-left: 5px;
                    }
                }
                >li a {
                    padding: 20.5px 0px;
                    text-align: center;
                    color: #FFF;
                }
            }
        }
        @media (min-width: $screen-sm-min) {
            .navbar-nav {
                width: 100%;
                text-align: center;
                >li {
                    font-family: "Raleway", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
                    font-size: 15px;
                    font-weight: 600;
                    float: none;
                    display: inline-block;
                    &.active a {
                        background: 0 !important;
                        color: #FFF;
                        &:hover {
                            color: #FFF;
                        }
                    }
                    a {
                        padding-top: 40px;
                        color: #bfbfbf;
                        &:hover {
                            color: #FFF;
                        }
                    }
                }
            }
        }
        a.login-btn {
            display:none;
            @media (min-width: $screen-sm-min) {
                display:block;
            color: #FFF;
            font-size: 14px;
            font-weight: 700;
            position: absolute;
            margin-top: 40px;
            right: 0;
            &.common-menu.logged{
            margin-top: 35px;                
            }
            &.user-menu.logged{
            margin-top: 40px;                
            }
            img.icono-login {
                height: 14px;
                margin-left: 5px;
                vertical-align: top;
                margin-top: 4px;
            }
            img.img-avatar {
                height: 32px;
                margin-left: 5px;
            }
            }
        }
    }
    .navbar-default.navbar-black {
        .navbar-toggle {
            @media (max-width: $screen-xs-max) {
                background-color: #413d3d;
                color: #FFF;
                &:hover {
                    background-color: $azul;
                }
            }
        }
        @media (max-width: $screen-xs-max) {
            .navbar-nav {
                margin: 30vh 0 0;
                height: 70vh;
                >li {
                    border-top: 1px solid #FFF;
                }
                >li:last-child a {
                    color: #FFF;
                }
                >li a {
                    color: #FFF;
                }
            }
        }
        @media (min-width: $screen-sm-min) {
            .navbar-nav {
                >li {
                    &.active a {
                        color: #413d3d;
                        &:hover {
                            color: $azul;
                        }
                    }
                    a {
                        color: #bfbfbf;
                        &:hover {
                            color: $azul;
                        }
                    }
                }
            }
            a.login-btn {
             color: #bfbfbf;
                        &:hover {
                            color: $azul;
                        }
    }
        }
    }
    .logo {
        height: 55px;
        position: absolute;
        margin-top: 0px;
        z-index: 10;
        @media (min-width: $screen-md-min) {
            height: 30px;
            position: absolute;
            margin-top: 15px;
        }
    }
    //-----------------------------
    .header-bg {
        background-size: cover;
        background-position: center center;
        color: #FFF;
    }
    #home.header-bg {
        background-image: url("../img/home/header-bg-all.jpg");
        padding-top: 140px;
        background-position: center left;
        padding-bottom: 45px;
        //  background-attachment: fixed;
        @media (min-width: $screen-sm-min) {
            padding-top: 250px;
            padding-bottom: 135px;
        }
        h1 {
            font-size: 29px;
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                font-size: 42.5px;
            }
            @media (min-width: $screen-md-min) {
                font-size: 60px;
            }
            span.ligero {
                font-weight: 400;
            }
            margin-bottom:90px;
        }
        .btn.btn-blanco {
            font-family: "Raleway", serif;
            color: #fff;
            background-color: transparent;
            border: 1px solid #FFF;
            font-size: 15px;
            font-weight: 600;
            padding: 10px 12px;
            &:hover {
                color: #4a999d;
                background-color: #fff;
                
            }
        }
    }
    #simple.header-bg {
            padding-top: 150px;
        padding-bottom: 30px;
         @media (min-width: $screen-sm-min) {
        padding-top: 200px;
         }
          @media (min-width: $screen-md-min) {
        padding-top: 385px;
         }
        //background-attachment: fixed;
        h1 {
            font-size: 40px;
            font-weight: 900;
            @media (min-width: $screen-sm-min) {
                font-size: 45px;
            }
        }
    }
}