    .white-dots {
        position: absolute;
        width: 100%;
        margin-top: -100px;
        img {
            width: 7px;
            margin: 0 auto;
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    
    .body-dots {
        width: 100%;
        img {
            width: 32px;
            margin: 22px auto;
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    
    #quees {
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 15%), url(../img/home/fila2bg.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        h1 {
            font-size: 27px;
            font-weight: 900;
            color: $verde;
            text-align: center;
            margin-top: 75px;
            @media (min-width: $screen-sm-min) {
                font-size: 45px;
            }
            @media (min-width: $screen-md-min) {
                font-weight: 900;
                color: $verde;
                text-align: right;
                margin-top: 125px;
            }
        }
        p {
            font-size: 12.5px;
            line-height: 23.5px;
            color: #504f51;
            margin-top: 37.5px;
            margin-bottom: 35px;
            text-align: center;
            @media (min-width: $screen-sm-min) {
                font-size: 15px;
                line-height: 27.5px;
            }
            @media (min-width: $screen-md-min) {
                color: $colorTexto;
                margin-top: 130px;
                text-align: left;
            }
        }
        a.btn.btn-quees {
            border: 1px solid $verde;
            color: $verde;
            background-color: transparent;
            font-family: "Raleway", serif;
            font-size: 15px;
            font-weight: 600;
            padding: 12px 40px;
            margin-top: 27.5px;
            &:hover {
                background-color: $verde;
                color: #FFF;
            }
        }
    }
    
    #importancia {
        background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 15%), url(../img/home/fila2bgn.jpg) no-repeat bottom center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        h1 {
            font-size: 27px;
            font-weight: 900;
            color: $azul;
            text-align: center;
            margin-top: 25px;
            @media (min-width: $screen-sm-min) {
                font-size: 45px;
            }
            @media (min-width: $screen-md-min) {
                font-weight: 900;
                color: $azul;
                text-align: left;
                margin-top: 125px;
            }
        }
        p {
            font-size: 12.5px;
            line-height: 23.5px;
            color: #504f51;
            margin-top: 37.5px;
            margin-bottom: 35px;
            text-align: center;
            @media (min-width: $screen-sm-min) {
                font-size: 15px;
                line-height: 27.5px;
            }
            @media (min-width: $screen-md-min) {
                color: $colorTexto;
                margin-top: 130px;
                text-align: right;
            }
        }
        a.btn.btn-importancia {
            border: 1px solid $azul;
            color: $azul;
            background-color: transparent;
            font-family: "Raleway", serif;
            font-size: 15px;
            font-weight: 600;
            padding: 12px 40px;
            margin-top: 27.5px;
            &:hover {
                background-color: $azul;
                color: #FFF;
            }
        }
    }
    
    #ejes {
        h1 {
            font-size: 27px;
            @media (min-width: $screen-sm-min) {
                font-size: 45px;
                margin-top: 0;
            }
            font-weight: 900;
            color: $amarillo;
            margin-top: 25px;
        }
        h2.titulo {
            font-size: 30px;
            font-weight: 700;
            color: $amarillo;
            margin-bottom: 33.3px;
        }
        p.descripcion {
            font-size: 12.5px;
            line-height: 23.5px;
            text-align: center;
            color: $colorTexto;
            margin-bottom: 25px;
            @media (min-width: $screen-sm-min) {
                font-size: 15px;
                line-height: 27.5px;
            }
        }
        img.little-dot {
            width: 7px;
            height: auto;
            margin: 20px auto 35px;
        }
        .line {
            height: 3px;
            background-color: #eaeaea;
            z-index: -1;
            position: absolute;
            width: 100%;
            top: 47px;
            left: 0;
        }
        .slick-dots {
            bottom: -40px;
        }
        .slick-dots li.slick-active button:before,
        .slick-dots li button:hover:before {
            color: $amarillo;
            opacity: 1;
        }
        .slick-dots li button:before {
            font-size: 12px;
        }
        .carrousel {
            img {
                height: 100px;
                margin: 0 auto;
            }
            .line {
                height: 3px;
                background-color: #eaeaea;
                z-index: -1;
                position: absolute;
                width: 100%;
                top: 47px;
                left: 0;
                &.amarillo {
                    background-color: $amarillo;
                }
                &.last {
                    width: 50%;
                }
                &.first {
                    width: 50%;
                    left: 50%;
                }
            }
        }
        .footer-carrousel {
            margin-top: 20px;
        }
        .hands {
            margin-top: 40px;
            position: relative;
            img {
                height: 120px;
                margin: 0 auto;
                width: 100%;
            }
            .line-hands {
                height: 3px;
                background-color: $amarillo;
                z-index: -1;
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
            }
        }
    }
    
    #testimonios {
        .box {
            background: linear-gradient(to right, #44ac6d 0%, #52acdd 100%);
            margin: 75px 0;
            padding: 50px 23px;
            @media (min-width: $screen-sm-min) {
                padding: 65px 60px;
            }
            @media (min-width: $screen-md-min) {
                padding: 65px 95px;
            }
        }
        .testimonio {
            color: #FFF;
            font-size: 15px;
            p {
                margin-bottom: 20px;
            }
        }
        .slick-dots {
            bottom: -40px;
        }
        .slick-dots li.slick-active button:before,
        .slick-dots li button:hover:before {
            color: #FFF;
            opacity: 1;
        }
        .slick-dots li button:before {
            font-size: 12px;
        }
        .autor {
            font-weight: 700;
        }
        .titulo {
            font-weight: 600;
        }
    }