#login {
    margin-top: 80px;
    @media (min-width: $screen-sm-min) {
        margin-top: 120px;
    }
    .form-group {
        margin-bottom: 20px
    }
    span.help-block {
        font-size: 11px;
        font-weight: 500;
    }
    .form-control {
        font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-size: 15px;
        font-weight: 500;
        height: 40px;
        border-color: #bfbfbf;
        color: #3a3737;
        border-radius: 2px;
    }
    .form-control:focus {
        border-color: #3a3737;
        color: #3a3737;
        box-shadow: none;
    }
    button.btn.btn-submit {
        border-radius: 0;
        border: 0;
        background-color: $azul;
        padding: 15px 10px;
        color: #FFF;
        font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-weight: 400;
        font-size: 15px;
        &:hover {
            background-color: darken($azul, 10%);
        }
    }
    a.btn.btn-signup {
        border-radius: 0;
        border: 0;
        background-color: $verde;
        padding: 10px 10px;
        color: #FFF;
        font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-weight: 600;
        font-size: 15px;
        &:hover {
            background-color: darken($verde, 10%);
        }
    }
    a.btn.btn-aux {
        border-radius: 0;
        border: 0;
        background-color: #3a3737;
        color: #FFF;
        padding: 10px 10px;
        font-family: 'Raleway', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-weight: 400;
        font-size: 15px;
        &:hover {
            background-color: lighten(#3a3737, 10%);
        }
    }
    .help-block.with-errors {
        color: red;
        font-size: 11px;
        font-weight: 400;
    }
    @media(max-width: $screen-xs-max) {
        .g-recaptcha iframe {
            max-width: 100%;
            transform: scale(0.77);
            -webkit-transform: scale(0.77);
            transform-origin: center center;
            -webkit-transform-origin: center center;
        }
        #rc-imageselect {
            transform: scale(0.77);
            -webkit-transform: scale(0.77);
            transform-origin: 0 0;
            -webkit-transform-origin: 0 0;
        }
    }
    // Medium small (>=480px)
    @media(min-width: $screen-sm-min) {
        #rc-imageselect {
            transform: none;
            -webkit-transform: none;
        }
        .g-recaptcha iframe {
            max-width: none;
            transform: none;
            -webkit-transform: none;
        }
    }
    // Horizontally center the recaptcha - applied to all widths
    .g-recaptcha>div>div {
        margin: 4px auto !important;
        text-align: center;
        width: auto !important;
        height: auto !important;
    }
    .g-recaptcha>div {
        width: 100% !important;
    }
    label {
        font-size: 11px;
        font-weight: 400;
    }
}