{% extends "costa/master-clean.twig" %} {% set nav = 0 %} 
{% block titulo %}Query{% endblock titulo %} {% block
linkhead %} {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="" class="form derecho">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Query</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3 col-md-offset-2 col-sm-8 col-sm-2">
                <ol>
  {% for key, value in query  %}
    <li>{{ key }}</li>
  {% endfor %}
</ol>

            </div>
        </div>
    </div>
</div>
{% endblock body %} {% block scripts %} {% endblock scripts %}