{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Cambiar contraseña{% endblock titulo %} {% block header %} {% endblock header %} {% block body %}
<div id="" class="form derecho ">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
                  <img src="{{ baseUrl() }}/assets-costa/img/avatar/{{user.genero}}-{{user.id % 6}}.svg" class="img-circle img-responsive" style="height:200px; margin: 0 auto;"
                data-toggle="tooltip" data-placement="bottom" data-original-title="Usuario1" alt="Avatar">
				<h1>Cambiar contraseña</h1>
				<hr>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-1">
                <div class="alert alert-info">
                Consideraciones para el cambio de su contraseña.
                <ul class="fa-ul">
                    <br>
                    <li><i class="fa-li fa fa-check-square"></i>La nueva contraseña debe tener minimo 8 caracteres.</li>
                    <br>
                    <li><i class="fa-li fa fa-check-square"></i>Podes usar numeros, mayusculas, simbolos.</li>
                    <br>
                    <li><i class="fa-li fa fa-exclamation-triangle"></i><b>Seleccione una contraseña difícil de adivinar y fácil de recordar.</b><br>Evite
                        utilizar contraseñas vinculadas con fechas de cumpleaños, nros. de cuentas, nros. de documentos,
                        datos personales, caracteres repetitivos o secuencias lógicas. Evite contraseñas fácilmente deducibles.</li>
                    <br>
                    <li><i class="fa-li fa fa-exclamation-triangle"></i><b>No la divulgue</b><br>No ingrese su clave de acceso
                        en presencia de terceros. No comparta su contraseña con nadie. Bajo ninguna circunstancia informe
                        su contraseña a otra persona, aún cuando el que lo solicite se identifique como administrador del
                        portal.</li>
                </ul>
            </div>
            <form action="{{ urlFor('runModifClvUsuario') }}" method="POST" class="form-horizontal">
                <div class="form-group">
                    <label for="inputPassOld" class="col-lg-4 control-label">Contraseña actual</label>
                    <div class="col-lg-8">
                        <input name="pass-old" type="password" class="form-control" id="inputPassOld">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassNew" class="col-lg-4 control-label"><b>NUEVA</b> contraseña</label>
                    <div class="col-lg-8">
                        <input name="pass-new" type="password" class="form-control" id="inputPassNew">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassVerif" class="col-lg-4 control-label">Reingrese la <b>NUEVA</b> contraseña</label>
                    <div class="col-lg-8">
                        <input name="pass-verif" type="password" class="form-control" id="inputPassVerif">
                    </div>
                </div>
                <div class="form-group text-right">
                    <div class="col-xs-12">
                        <button type="submit" href="#" class="btn btn-submit btn-block">Cambiar contraseña</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
	</div>
</div>
{% endblock body %} {% block scripts %}
{% endblock scripts %}