{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Crear Actividad{% endblock titulo %} {% block linkhead
%} {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="" class="form derecho">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Nueva Actividad</h1>
				<hr>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="form-group">
					<h3>Nombre de la actividad</h3>
					<h6 class="text-info"><b>Nota:</b> Evite un titulo excesivamente largo</h6>
					<input name="" class="form-control input-lg" />
				</div>
			</div>
		</div>
        <div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="form-group">
					<h3>Lugar y hora del evento</h3>
					<h6 class="text-info"><b>Ejemplo:</b> Desde las 16Hs en 25 de Mayo 1682</h6>
					<input name="" class="form-control" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="form-group">
					<h3>Descripción del evento</h3>
					<h6 class="text-info"><b>Nota:</b></h6>
					<textarea name=""  rows="1" class="form-control"></textarea>
				</div>
			</div>
		</div>
<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="form-group">
					<h3>URL a mas info</h3>
					<h6 class="text-info"><b>Nota:</b> Coloque la URL a una web distinta. Ej: http://www.google.com.ar</h6>
					<div class="input-group">
  <span class="input-group-addon">http://</span>
  <input type="text" class="form-control">
</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="derecho" class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="clearfix">
					<a href="#" class="btn btn-large btn-default ">Cancelar</a>
					<button type="submit" class="btn btn-success pull-right">Crear actividad</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %} {% block scripts %}
<script src="{{ baseUrl() }}/assets-lpe/js/autosize.min.js"></script>
<script id="accionTemplate" type="text/template">
    <div class="accion-container color-numColor">
        <a id="eliminar-numAccion" href="javascript:void(0)" data-idaccion='numAccion' class="eliminarAccion pull-right" style="font-size:20px;"><i class="mdi mdi-close"></i></a>
        <textarea name="cuerpo" class="accion form-control" rows="1" placeholder="Describa la acción..."></textarea>
    </div>
</script>
<script>
    var numeroAccion = 2;
    $(document).ready(function() {
    //Events
    // $("a.eliminarArticulo").on("click", eliminarArticulo);
    autosize($('textarea'));

    $(':file').on('fileselect', function(event, numFiles, label) {
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        if(numFiles > 1 || numFiles == 0){
            alert('Por favor, seleccione solo 1 archivo');
        } else if(numFiles == 1){
            input.val(log);
        }
    });


    });
    $('input[name=video]').change(function() {
        $("#youtubeVideo iframe").remove();
        $('<iframe class="embed-responsive-item" id="youtubeVideo" frameborder="0" allowfullscreen></iframe>')
            .attr("src", "https://www.youtube.com/embed/" + $(this).val())
            .appendTo("#youtubeVideo");
    });

    $("#nuevaAccion").click(function(e) {
        var nuevaAccion = $("#accionTemplate").html().replace(new RegExp('numAccion', 'g'), numeroAccion).replace(new RegExp('numColor', 'g'), (numeroAccion-1)%3 );
        $(".lista-acciones").append(nuevaAccion)
        numeroAccion += 1
        autosize($('textarea'));
    });
    $(document.body).on('click', '.eliminarAccion', function() {
        var i = $(this).data('idaccion') + 1
        $(this).closest(".accion-container").remove();
        for (; i <= numeroAccion + 1; i++) {
            $('#eliminar-' + i).attr('data-idaccion', (i - 1)).attr('id', "eliminar-" + (i - 1));;
            $("textarea[name='cuerpo-" + i + "']").attr('name', "cuerpo-" + (i - 1))
        }
        numeroAccion -= 1;
    });
    var eliminarAccion = function(e) {
        $(this).closest(".li-accion").remove();
    }

    $(document).on('change', ':file', function() {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });
    $( "form" ).submit(function( event ) {
        var secciones = [];        
        $( "textarea[name=cuerpo]" ).each(function( index ) {
        secciones.push($( this ).val());
        });
        var seccionesString = secciones.join("&&")
        $('input[name=secciones]').val(seccionesString);
        return true;
});
</script>
{% endblock scripts %}