{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Administración{% endblock titulo %} {% block
linkhead %} {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="" class="form derecho">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Términos y Condiciones de Uso</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <h3><b>Objetivo de la iniciativa</b></h3>

                A través del Portal <a href="http://www.santafe.gov.ar/atodacosta" style="word-break: break-all;">www.santafe.gov.ar/atodacosta</a>, el
                Gobierno de la Provincia de Santa Fe se propone fomentar la participación de los ciudadanos en la generación
                de ideas y propuestas novedosas y viables para la elaboración del <b>un plan de desarrollo sustentable para
                la región costera que conforman los Departamentos Garay y San Javier</b>. Este plan, a ejecutarse durante
                los próximos 3 años, tiene como objetivo explotar el enorme potencial de esta región a partir de proyectos
                que fortalezcan su desarrollo productivo y turístico; su cultura e identidad, respeten al medio ambiente,
                y promuevan su crecimiento económico para mejorar la calidad de vida de sus habitantes. Es una apuesta decidida
                por una gestión más cercana a los ciudadanos que permitirá recibir sus propuestas y además, crear canales
                directos de comunicación con el gobierno provincial, contribuyendo a tomar las decisiones más acertadas para
                el interés general

                <h3><b>Cuestiones generales sobre la participación en la Plataforma Digital A Toda Costa</b></h3>

                Podrá participar cualquier persona física que se haya registrado previamente en la Plataforma Digital “A Toda Costa”. El
                usuario (en adelante el “Usuario y/o Ciudadano”) entiende que el acceso y uso de los Activos Digitales resultará
                en la aceptación de los presentes Términos y Condiciones. Asimismo, el Usuario entiende que acepta la Política de
                Privacidad, anexo a los presentes Términos y Condiciones. No existe limitación en cuanto al número de debates
                o comentarios a presentar por los participantes.
                <h3><b>Datos Personales.</b></h3>

                Utilizaremos los datos que recabamos con las siguientes finalidades necesarias para el servicio que ofrece la Plataforma
                Digital “A Toda Costa”:
                <ul>
                    <li>La recolección y administración de opiniones ciudadanas en la Plataforma Digital “A Toda Costa”. </li>
                    <li>La protección de la Plataforma Digital “A Toda Costa”.</li>
                </ul>


                <h3><b>Uso General sin Registro en “A Toda Costa”</b></h3>

                En ese caso, el Usuario proveerá: Datos sobre el dispositivo: es posible recoger datos específicos sobre el dispositivo del
                Usuario como, por ejemplo, el modelo de equipo, la versión del sistema operativo, los identificadores únicos
                y los datos sobre la red móvil. Datos sobre la ubicación física: al utilizar un Activo Digital que pueda
                registrar la ubicación física del Usuario, es posible llevar a cabo la recolección y el tratamiento de datos
                acerca de la ubicación real del Usuario como, por ejemplo, las señales de GPS enviadas por un dispositivo
                móvil. También es posible utilizar diferentes tecnologías para determinar la ubicación, como los datos de
                los sensores del dispositivo que proporcionen, por ejemplo, información sobre los puntos de acceso Wi-Fi
                y las antenas de telefonía móvil más cercanos. En el caso de no estar registrado el Usuario, estos datos
                serán almacenados en forma anónima. Cookies e identificadores anónimos: es posible utilizar diferentes tecnologías
                para recoger y almacenar datos cuando el Usuario accede a un servicio prestado por el Gobierno Provincial,
                incluyendo el envío de una o varias cookies o de identificadores anónimos a tu dispositivo. 
                
                <br>
                <br>
                
                <strong>La negación de
                su permiso para el uso de sus datos personales para estas finalidades podrá ser un motivo por el que no pueda
                hacer uso de la Plataforma Digital “A Toda Costa”</strong>

                <h3><b>Uso de la Plataforma Digital “A Toda Costa” con registro.</b></h3>

                Los participantes podrán acceder y navegar por la Plataforma Digital “A Toda Costa” libremente y de forma anónima. Sólo cuando
                quieran realizar alguna acción que implique apoyo o comentario de uno o varios ejes, o participación en un
                debate, se le solicitará que introduzca sus credenciales, para cuya obtención será necesario registrarse
                previamente. El registro que permitirá participar comentando en cualquiera de las secciones, creando debates
                o propuestas, se realizará introduciendo los siguientes datos: Nombre apellido email Contraseña Fecha de
                Nacimiento Departamento Localidad Ocupación Institución a la que pertenece Aceptación de los términos y condiciones
                de uso de la Plataforma Digital “A Toda Costa“ La Plataforma Digital pone a disposición del usuario para
                que pueda interactuar a través de propuestas y/o comentarios distribuidos en seis ejes temáticos. En cada
                una de ellos el usuario podrá participar: Creando un comentario. Cada usuario podrá dar de alta uno o más
                comentarios. Los mismos serán publicados automáticamente. Apoyando los comentarios creados por los usuarios.
                Los mismos aparecerán con el número de apoyos recibidos. Cada usuario podrá exclusivamente apoyar una vez
                a un mismo comentario. Respondiendo, agregando ideas o debatiendo sobre los comentarios del resto de usuarios.
                Cada comentario podrá ser respondido por el resto de usuarios, pudiendo argumentar las razones del apoyo
                o introducir mejoras a la misma.

                <h3><b>Propiedad Intelectual</b></h3>
                Las marcas, avisos, nombres comerciales, frases de propaganda, dibujos, diseños, logotipos, textos, etc. que aparecen en
                los Activos Digitales son propiedad del Gobierno Provincial, excepto cuando se declare lo contrario. El Gobierno
                Provincial licencia todos sus contenidos bajo la licencia Atribución-CompartiIgual 2.5 Argentina, cuyo texto
                legal puede encontrarse en <a href="http://creativecommons.org/licenses/by/2.5/ar/legalcode" style="word-break: break-all;">http://creativecommons.org/licenses/by/2.5/ar/legalcode</a>.

                <h3><b>Contenido Publicado en el Sitio</b></h3>
                Al aceptar los presentes términos y condiciones, usted:
                <ul>
                    <li>
                        Reconoce y acepta que el Gobierno de la Provincia de Santa Fe puede, pero no está obligado, a revisar el contenido que se
                        publica y, en su caso, rehusarse a publicar contenido que no cumpla con los principios establecidos
                        para la Plataforma Digital “A Toda Costa”.
                    </li>
                    <li>
                        Acepta que usted es el único responsable del contenido (texto, imagen, audio y video) que publique en a Plataforma Digital
                        “A Tosa Costa” o transmita a otros usuarios.
                    </li>
                    <li>
                        Al publicar contenido en algún área de la a Plataforma Digital “A Toda Costa“ , autoriza a título gratuito al Gobierno de la
                        Provincia de Santa Fe para grabar, usar, publicar y realizar la comunicación pública de su imagen,
                        alocuciones, críticas, comentarios, opiniones, disertaciones a través de las modalidades de transmisión
                        y transmisión diferida, tanto por su señal nacional, internacional, provincial, de Internet y por
                        cualquier otro medio de radiodifusión y transmisión realizadas con motivo del Plan de “A Tosa Costa”,
                        que lleva a cabo el Gobierno de la Provincia de Santa Fe.
                    </li>
                    <li>
                        Asimismo, autoriza al Gobierno de la Provincia de Santa Fe para que utilice, edite y reproduzca total o parcialmente la grabación
                        de su imagen, alocuciones, críticas, comentarios, opiniones, disertaciones, obtenidas al amparo de
                        la presente, en la elaboración de audiovisuales, la sincronización y sonorización de las mismas,
                        así como la realización de obras derivadas; además se autoriza la reproducción y distribución por
                        cualquier medio o forma (tales como los medios impresos, digitales y/o electrónicos, de almacenamiento
                        permanente o temporal de datos, imágenes y/o video), incluyendo la utilización de fotogramas que
                        contengan su imagen para fines de difusión y publicidad. La vigencia de esta autorización y la anterior
                        será por tres años renovables de forma automática por periodos iguales y por pases ilimitados durante
                        la vigencia de la misma.
                    </li>
                    <li>
                        Declara que no publicará contenido ilegal o prohibido y no violará, malversará, infringirá o contravendrá algún derecho de
                        Tercero (incluyendo, sin limitación, cualquier derecho de propiedad intelectual y personal) en Plataforma
                        Digital “A Toda Costa”.
                    </li>
                </ul>
                Enseguida se enlista de manera enunciativa, mas no limitativa, el tipo de contenido que es ilegal o está prohibido en la
                Plataforma Digital “A Toda Costa “:
                <ul>
                    <li>
                        Que sea claramente ofensivo para la comunidad en línea, como contenido que promueva la discriminación, el racismo, la intolerancia,
                        el odio o la agresión física o moral de cualquier tipo, en contra de cualquier grupo o individuo;
                    </li>
                    <li>
                        Que acose o promueva el acoso de otra persona;
                    </li>
                    <li>
                        Que involucre la transmisión o envío de correos masivos o spam y cartas cadena;
                    </li>
                    <li>
                        Que transmita virus, gusanos, defectos, caballos de Troya, o cualquier otro elemento informático de naturaleza destructiva;
                    </li>
                    <li>
                        Que promueva información falsa o engañosa o promueva actividades ilegales o conductas que sean abusivas, amenazantes, obscenas,
                        difamatorias o calumniosas;
                    </li>
                    <li>
                        Que promueva la copia ilegal o no autorizada de obras protegidas por derechos de autor (ya sea que estén marcadas o no),
                        infrinja derechos de autor o proporcione piratería o vínculos a ella;
                    </li>
                    <li>
                        Que contenga páginas restringidas o de acceso con contraseña, o páginas o imágenes ocultas (aquellas no vinculadas o accesibles
                        desde otra página);
                    </li>
                    <li>
                        Que despliegue material pornográfico o sexualmente explícito de cualquier tipo y en cualquier forma;
                    </li>
                    <li>
                        Que proporcione material que explote a cualquier persona de manera sexual o violenta, o solicite información personal de
                        otros;
                    </li>
                    <li>
                        Que proporcione instrucciones sobre actividades ilegales como atentar contra la privacidad de alguien, o proporcionar o crear
                        virus informáticos;
                    </li>
                    <li>
                        Que solicite contraseñas o información de identificación personal de cualquier tipo para propósitos comerciales o ilegales,
                        y esté involucrado en actividades comerciales y/o ventas sin nuestro consentimiento previo, incluyendo,
                        sin limitación, concursos, loterías, trueques, publicidad y esquemas piramidales; y
                    </li>
                    Que constituya, promueva o se use principalmente con el propósito de falsificar o traficar bienes, productos robados, drogas
                    ilegales y parafernalia, artículos usados para robar, comercio no autorizado, o de otra manera viole
                    los términos y cree responsabilidad civil, penal o administrativa.
                    <li>
                </ul>


                En caso de verificarse un incumplimiento por parte del Usuario hacia estos Términos y Condiciones, el Gobierno de la Provincia de
                Santa Fe podrá denegar o retirar el acceso a la Plataforma Digital “A Toda Costa” en forma inmediata o remover
                el contenido de su publicación.

                <h3><b>Uso Permitido</b></h3>
                Al aceptar los presentes términos y condiciones, usted:
                <ul>
                    <li>
                        Manifiesta que conoce plenamente el estar autorizado para visitar, ver, consultar, en algunos casos descargar y comentar
                        las páginas de la Plataforma Digital “A Toda Costa para su propio uso, y que no deberá duplicar,
                        publicar, modificar, distribuir o alterar lo publicado por la Plataforma Digital “A Toda Cosa“ para
                        ningún propósito distinto que no sea revisar eventos, información de publicidad, o para uso personal,
                        a menos que haya sido autorizado específicamente por el Gobierno de la Provincia de Santa Fe para
                        otro fin.
                    </li>
                    <li>
                        El contenido y software de la Plataforma Digital “A Toda Costa” es propiedad del Gobierno de la Provincia de Santa Fe y está
                        protegido bajo las leyes internacionales y nacionales de derecho de autor.
                    </li>
                </ul>

                <h3><b>Acceso e Interferencia</b></h3>
                Al aceptar los presentes términos y condiciones, usted:
                <ul>
                    <li>
                        Está de acuerdo en no utilizar ningún tipo de aparato o software que interfiera con el funcionamiento adecuado de la Plataforma
                        Digital “A Toda Costa “, ni tratará de interferir con él.
                    </li>
                    <li>
                        Está de acuerdo en no copiar, reproducir, alterar, modificar, crear trabajos derivativos o mostrar públicamente contenido
                        de la Plataforma Digital “A Toda Costa” sin previo permiso por escrito del Gobierno de la Provincia de
                        Santa Fe (con excepción de que sea para uso personal y no comercial).
                    </li>
                </ul>

                <h3><b>Normativa aplicable</b></h3>
                Las normas del ordenamiento jurídico argentino rigen de manera exclusiva estas condiciones de uso. Cualquier disputa, controversia
                o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas,
                se resolverán exclusivamente ante los juzgados competentes de la Provincia de Santa Fe.
                <h3><b>Revisión de las condiciones de uso</b></h3>
                El Gobierno de la Provincia de Santa Fe se reserva el derecho de revisar las presentes condiciones de uso y la política de
                privacidad en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán avisados
                a través de este espacio en línea y, si continúan utilizando la Plataforma Digital “A Toda Costa”, se entenderán
                aceptadas las modificaciones introducidas.

            </div>
        </div>
    </div>

</div>
{% endblock body %} {% block scripts %} {% endblock scripts %}
