{% extends "costa/master-clean.twig" %} 
{% set nav = 0 %} 
{% block titulo %}Registro{% endblock titulo %}
{% block linkhead %} 
{% endblock %} 
{% block header %} {% endblock header %}
{% block body %}
<div id="login">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
	<h1>Inicie sesión</h1>
<hr>
			</div>
		</div>
	</div>
</div>
{% endblock body %} 
{% block scripts %} {% endblock scripts %}