{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Iniciar Sesión{% endblock titulo %} {% block linkhead
%} {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="login">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Inicie sesión</h1>
				<hr>
			</div>
		</div>
	</div>
	<div id="login-box" class="container">
		<form action="{{ urlFor('runLogin') }}" method="POST" >
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
					<div class="form-group">
						<input class="form-control" name="email" type="email" placeholder="Dirección de Email">
					</div>
					<div class="form-group">
						<input class="form-control" name="password" type="password" placeholder="Contraseña">
						<span class="help-block"><a id="verRecuperar" href="javascript:void(0)"><i class="fa fa-question-circle fa-fw"></i>¿Olvido su contraseña?</a></span>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-submit btn-block">Entrar</button>
						<br>
						<a href="{{urlFor('shwCrearUsuario')}}" class="btn btn-primary btn-signup btn-block">Registrarse</a>
					</div>	
				</div>		
			</div>
		</form>
	</div>
	<div id="recuperar-box" class="container" style="display:none;">
		<form action="{{ urlFor('runRecuperarClave') }}" method="POST" >
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
					<div class="form-group text-center">
						<p>Le enviaremos un link de recuperación por email.<br>Revise su casilla y siga los pasos.</p>
					</div>
					<div class="form-group">
						<input class="form-control" name="email" type="email" placeholder="Dirección de Email">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-submit btn-block">Recuperar mi contraseña</button>
						<br>
						<a id="volverInicio" href="javascript:void(0)" class="btn btn-primary btn-aux btn-block">Volver</a>
					</div>	
				</div>		
			</div>
		</form>
	</div>
</div>
{% endblock body %} {% block scripts %}
<script>
    $( document ).ready(function() {
        $( "#volverInicio" ).click(function() {
          $( "#recuperar-box" ).hide("slide" );
          $( "#login-box" ).show("slide" );
        });
        $( "#verRecuperar" ).click(function() {
          $( "#login-box" ).hide("slide" );
                $( "#recuperar-box" ).show("slide" );
        });
    });
</script>
 {% endblock scripts %}