{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Recuperar contraseña{% endblock titulo %} {%
block linkhead %} {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Revise su casilla de email</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
                <p>Le hemos enviado a su email un link para que reinicie su contraseña. Recuerde que este link expira en una
                    hora. En caso de no utilizarlo, siempre podrá generar otra desde la opción de recuperar contraseña.</p>
                    <br>
                <a href="{{ urlFor('shwPortal') }}" class="btn btn-primary btn-aux btn-block">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}