{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Verifique su identidad{% endblock titulo %} {%
block linkhead %} {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Verifique su identidad</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
                <p>Antes de comenzar, es necesario que <b>verifique su identidad</b>. Para ello, le hemos enviado a su direcci칩n de email <b>{{ email }}</b> un correo para realizar la verificaci칩n de su cuenta.</p>
                 <p>Le pedimos que ingrese a su email y realice la verificaci칩n. Una vez hecho, ya podr치 comenzar a utilizar el portal.</p>
				  <br>
                <a href="{{ urlFor('shwPortal') }}" class="btn btn-primary btn-aux btn-block">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}