
{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Recuperar contraseña{% endblock titulo %} {% block linkhead
%} {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="login">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Recuperar contraseña</h1>
				<hr>
			</div>
		</div>
	</div>
	<div id="login-box" class="container">
		<form action="{{ urlFor('runReiniciarClave',{'idUsu': idUsu,'token': token}) }}" method="POST" data-toggle="validator">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
					<div class="form-group">
						<input name="password" type="password" placeholder="Nueva contraseña" id="inputPassword" class="form-control" data-error="Complete el campo con una contraseña" required>
					</div>
					<div class="form-group">
						<input name="password2" type="password" placeholder="Reingrese su contraseña" class="form-control" data-match="#inputPassword"  data-error="Reingrese la contraseña que ha ingresado en el campo anterior" data-match-error="Las contraseñas no son iguales. Revisé" required>
						<div class="help-block with-errors"></div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-submit btn-block">Reiniciar contraseña</button>
					</div>	
				</div>		
			</div>
		</form>
	</div>
</div>
{% endblock body %} {% block scripts %}
<script src="{{ baseUrl() }}/assets-costa/js/validator.min.js"></script>
 {% endblock scripts %}