{% extends "costa/master-clean.twig" %} {% set nav = 0 %} {% block titulo %}Contrase침a cambiada{% endblock titulo %} {%
block linkhead %} {% endblock %} {% block header %} {% endblock header %} {% block body %}
<div id="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Su contrase침a ha sido cambiada</h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
                <p>Puede volver a la plataforma iniciando sesi칩n con su nueva contrase침a.</p>				  <br>
                <a href="{{ urlFor('shwPortal') }}" class="btn btn-primary btn-aux btn-block">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {% endblock %}